
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

html{
	margin:0;
padding:0;
-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}

html::-webkit-scrollbar {
	display: none;
  }
html, body{
    padding: 0;
    margin: 0;
}
body{
	background-color: #f8c5b4;
}
a, h1,h2,h3,h4,button,p{
	color: #787b7d;
	font-family:"Roboto";
	font-size: 20pt;
}


/* HEADER */
 .logo{
	text-align: center;
 }

 .logo img{
	margin: 20px 0;
	height: 100px;
	width: auto;
}

.wrapper{
	max-width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
}

nav ul{
	margin: 0;
	padding: 10px 0;
	text-align:center;
	border-top: 1px solid black ;
	border-bottom: 1px solid black ;

}
nav ul:after{
	clear: both;
	content: "";
	display: block;
	}
nav h2{
    text-indent: -100000px;
    height: 0;
    margin: 0;
}
nav li{
	display: inline;
    list-style-type: none;
    margin: 10px 20px;
}
nav li a{
    text-decoration: none;
}
/* HEADER */
/* BANNER SECTION */
#banner{
	padding: 0;
	margin: 0;
	background-color: #787b7d;
	background: url(../_images/banner.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 600px;
  	text-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: center; 
}
#banner::before{
	opacity: 0.75;
}

.banner-description{
	max-width: 1000px;
}
.banner-description h1{
font-size: 40pt;
}
.banner-description a{
	background-color: #f8c5b4;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 25pt;
}
/* BANNER SECTION */
/* COLLECTION SECTION */
#collection{
	text-align: center;
}
#collection h1{
	font-size: 30pt;
}
#collection p{
	text-align: justify;
	font-size: 20pt;
}
#collection a{
	background-color: #fff;
	padding: 10px 20px;
	color: #f8c5b4;
	text-decoration: none;
	font-size: 25pt;
}
#collection .button{
	margin: 50px 0;
}
#collection .products img{
	cursor: pointer;
	margin-bottom: 50px;
}
#collection .products img:first-of-type{
	padding-right: 40px;
}

/* COLLECTION SECTION */

/* GALLERY SECTION */
#gallery{
	background-color: #fff;
	padding: 10px 0;
	text-align: center;
	
}
#gallery h1{
	font-style: italic;
	font-size: 25pt;
}
.gallery-images{
	max-width: 900px;
	margin: 0 auto 40px;
}
/* GALLERY SECTION */

/* SUBSCRIPTION SECTION */
#subscription{
text-align: center;
padding: 50px 0;
border-bottom: 5px solid #fff;
}
#subscription h1{
	font-size: 25pt;
	font-weight:900;
	margin: 0;
	padding: 0;
}
#subscription h4{
	font-weight:500;
	margin: 0;
	padding: 10px 0 30px;
	font-size: 20pt;
}
#subscription button{
	background-color: white; /* Green */
  border: none;
  color: #f8c5b4;
  padding: 10px 15px;
  text-align: center;
  font-size: 20pt;
  font-weight: 900;
  cursor: pointer;
}
#subscription input{
	border: 3px solid #ccc;
	box-sizing: border-box;
	color: #787b7d;
	font-size: 15pt;
	width: 500px;
	padding: 12px 20px;
	margin: 0 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
#subscription input:focus{
	border: 3px solid #eee;
}
/* SUBSCRIPTION SECTION */
/* SOCIALS SECTION */
#socials{
	text-align: center;
}
.social-icons{
	margin: 0 auto;
	background: url(../_images/social-icons.png);
	width: 317px;
	height: 47px;
}
.social-icons .fb, .social-icons .tw,.social-icons .ig,.social-icons .yt{
	float: left;
	height: 47px;
	width:  47px;
}
.social-icons .fb{
	margin-right: 30px;
}
.social-icons .tw{
	margin-right: 40px;
}
.social-icons .ig{
	margin-right: 35px;
}
/* SOCIALS SECTION */

@media screen and (max-width: 731px){
	#collection .products img{
		
	}
	#collection .products img:first-of-type{
		padding-right: 0;
	}
}